In [79]:
import pandas as pd

In [80]:
df = pd.read_csv('iphone.csv')
df

,Product Name,Product URL,Brand,Sale Price,Mrp,Number Of Ratings,Number Of Reviews,Upc,Star Rating,Ram
0,"APPLE iPhone 8 Plus (Gold, 64 GB)",https://www.flipkart.com/apple-iphone-8-plus-g...,Apple,49900,49900,3431,356,MOBEXRGV7EHHTGUH,4.6,2 GB
1,"APPLE iPhone 8 Plus (Space Grey, 256 GB)",https://www.flipkart.com/apple-iphone-8-plus-s...,Apple,84900,84900,3431,356,MOBEXRGVAC6TJT4F,4.6,2 GB
2,"APPLE iPhone 8 Plus (Silver, 256 GB)",https://www.flipkart.com/apple-iphone-8-plus-s...,Apple,84900,84900,3431,356,MOBEXRGVGETABXWZ,4.6,2 GB
3,"APPLE iPhone 8 (Silver, 256 GB)",https://www.flipkart.com/apple-iphone-8-silver...,Apple,77000,77000,11202,794,MOBEXRGVMZWUHCBA,NaN,2 GB
4,"APPLE iPhone 8 (Gold, 256 GB)",https://www.flipkart.com/apple-iphone-8-gold-2...,Apple,77000,77000,11202,794,MOBEXRGVPK7PFEJZ,4.5,2 GB
...,...,...,...,...,...,...,...,...,...,...
57,"APPLE iPhone SE (Black, 64 GB)",https://www.flipkart.com/apple-iphone-se-black...,Apple,29999,39900,95909,8161,MOBFWQ6BR3MK7AUG,4.5,4 GB
58,"APPLE iPhone 11 (Purple, 64 GB)",https://www.flipkart.com/apple-iphone-11-purpl...,Apple,46999,54900,43470,3331,MOBFWQ6BTFFJKGKE,4.6,4 GB
59,"APPLE iPhone 11 (White, 64 GB)",https://www.flipkart.com/apple-iphone-11-white...,Apple,46999,54900,43470,3331,MOBFWQ6BVWVEH3XE,4.6,4 GB
60,"APPLE iPhone 11 (Black, 64 GB)",https://www.flipkart.com/apple-iphone-11-black...,Apple,46999,54900,43470,3331,MOBFWQ6BXGJCEYNY,4.6,4 GB
61,"APPLE iPhone 11 (Red, 64 GB)",https://www.flipkart.com/apple-iphone-11-red-6...,Apple,46999,54900,43470,3331,MOBFWQ6BYYV3FCU7,4.6,4 GB


1 - The column names have spaces . rename the column names to have underscore '_' instead of space (try to do in one go instead of specifying each column nam in rename method)

In [81]:
df.columns =df.columns.str.replace(' ', '_')

2- start rating for some of the models is missing in the dataset. fill those missing values with the average rating all the models.

In [82]:
df['Star_Rating'].fillna(value=df['Star_Rating'].mean(), inplace=True)
df

,Product_Name,Product_URL,Brand,Sale_Price,Mrp,Number_Of_Ratings,Number_Of_Reviews,Upc,Star_Rating,Ram
0,"APPLE iPhone 8 Plus (Gold, 64 GB)",https://www.flipkart.com/apple-iphone-8-plus-g...,Apple,49900,49900,3431,356,MOBEXRGV7EHHTGUH,4.600000,2 GB
1,"APPLE iPhone 8 Plus (Space Grey, 256 GB)",https://www.flipkart.com/apple-iphone-8-plus-s...,Apple,84900,84900,3431,356,MOBEXRGVAC6TJT4F,4.600000,2 GB
2,"APPLE iPhone 8 Plus (Silver, 256 GB)",https://www.flipkart.com/apple-iphone-8-plus-s...,Apple,84900,84900,3431,356,MOBEXRGVGETABXWZ,4.600000,2 GB
3,"APPLE iPhone 8 (Silver, 256 GB)",https://www.flipkart.com/apple-iphone-8-silver...,Apple,77000,77000,11202,794,MOBEXRGVMZWUHCBA,4.576271,2 GB
4,"APPLE iPhone 8 (Gold, 256 GB)",https://www.flipkart.com/apple-iphone-8-gold-2...,Apple,77000,77000,11202,794,MOBEXRGVPK7PFEJZ,4.500000,2 GB
...,...,...,...,...,...,...,...,...,...,...
57,"APPLE iPhone SE (Black, 64 GB)",https://www.flipkart.com/apple-iphone-se-black...,Apple,29999,39900,95909,8161,MOBFWQ6BR3MK7AUG,4.500000,4 GB
58,"APPLE iPhone 11 (Purple, 64 GB)",https://www.flipkart.com/apple-iphone-11-purpl...,Apple,46999,54900,43470,3331,MOBFWQ6BTFFJKGKE,4.600000,4 GB
59,"APPLE iPhone 11 (White, 64 GB)",https://www.flipkart.com/apple-iphone-11-white...,Apple,46999,54900,43470,3331,MOBFWQ6BVWVEH3XE,4.600000,4 GB
60,"APPLE iPhone 11 (Black, 64 GB)",https://www.flipkart.com/apple-iphone-11-black...,Apple,46999,54900,43470,3331,MOBFWQ6BXGJCEYNY,4.600000,4 GB
61,"APPLE iPhone 11 (Red, 64 GB)",https://www.flipkart.com/apple-iphone-11-red-6...,Apple,46999,54900,43470,3331,MOBFWQ6BYYV3FCU7,4.600000,4 GB

3- Now instead of filling missing values with avg rating of full dataset , fill with avg rating based on RAM. example :  if rating for a 2 gb phone is missing then take average of all other 2 gb phones rating and fill that value.

In [83]:
ram_na = (df['Ram'] == '2GB') & df['Star_Rating'].isna()
df['Star_Rating'] = df.groupby('Ram')['Star_Rating'].transform(lambda x: x.fillna(x.mean()))

4- create a new column in the dataframe "Discount_Percentage" based on MRP and sale value

In [84]:
df['discount_percentage'] = ((df['Mrp']-df['Sale_Price']) /df['Mrp']) *100

5- which model has highest percent discount ?

In [85]:
max_discount_model = df.loc[df['discount_percentage'].idxmax(), 'Product_Name']
max_discount_model

'APPLE iPhone 11 Pro (Midnight Green, 64 GB)'

6- find total number of models for each color, total no of models  each space configuration (128 GB , 64 GB etc), total number of models by iphone version.

In [96]:
import re

# Extract space configurations, colors, and iPhone versions using regex
space_configurations = [re.findall(r'(\d+ GB)', name)[0] for name in df['Product_Name']]
colors = [re.findall(r'\((.*?),', name)[0] for name in df['Product_Name']]
iphone_versions = [re.findall(r'iPhone (\w+)', name)[0] for name in df['Product_Name']]

# Count the number of models for each space configuration
model_config = {config: space_configurations.count(config) for config in set(space_configurations)}

# Count the number of models for each iPhone version
model_version = {version: iphone_versions.count(version) for version in set(iphone_versions)}

# Count the number of models for each color
model_colors = {color: colors.count(color) for color in set(colors)}

# Print the results for space configurations
for config, count in model_config.items():
    print(f"Space Configuration: {config}, Count: {count}")

# Print the results for iPhone versions
for version, count in model_version.items():
    print(f"iPhone Version: {version}, Count: {count}")

# Print the results for colors
for color, count in model_colors.items():
    print(f"Color: {color}, Count: {count}")

Space Configuration: 512 GB, Count: 4
Space Configuration: 256 GB, Count: 14
Space Configuration: 64 GB, Count: 20
Space Configuration: 128 GB, Count: 24
iPhone Version: XS, Count: 1
iPhone Version: SE, Count: 6
iPhone Version: 8, Count: 8
iPhone Version: 11, Count: 16
iPhone Version: XR, Count: 5
iPhone Version: 12, Count: 26
Color: Black, Count: 10
Color: Green, Count: 1
Color: Midnight Green, Count: 4
Color: Coral, Count: 1
Color: RED, Count: 1
Color: Gold, Count: 6
Color: White, Count: 10
Color: Pacific Blue, Count: 4
Color: Red, Count: 5
Color: Blue, Count: 2
Color: Purple, Count: 1
Color: Space Grey, Count: 6
Color: Graphite, Count: 4
Color: Silver, Count: 7

In [97]:
top_5_models = df.sort_values('Number_Of_Reviews', ascending=False).head(5)[['Product_Name', 'Number_Of_Reviews']]

In [98]:
top_5_models

                       Product_Name  Number_Of_Reviews
23  Apple iPhone SE (White, 256 GB)               8161
53  APPLE iPhone SE (Black, 128 GB)               8161
55    APPLE iPhone SE (Red, 128 GB)               8161
57   APPLE iPhone SE (Black, 64 GB)               8161
52   APPLE iPhone SE (White, 64 GB)               8154

10 - what is the price diffrence between highest price and lowest price iphone (based on mrp)

In [106]:
highest_price_iphone= df['Mrp'].max()
lowest_price_iphone =df['Mrp'].min()

In [107]:
price_diff=highest_price_iphone-lowest_price_iphone
price_diff

110000

11 - find total no of reviews for iphone 11 and iphone 12 category . Output should have only 2 rows (for 11 and 12).

In [109]:
iphone_11_reviews = df[df['Product_Name'].str.contains('iPhone 11')]['Number_Of_Reviews'].sum()
iphone_12_reviews = df[df['Product_Name'].str.contains('iPhone 12')]['Number_Of_Reviews'].sum()

In [112]:
reviews_by_category = pd.DataFrame({
    'iPhone_Category': ['iPhone 11', 'iPhone 12'],
    'Total_Reviews': [iphone_11_reviews, iphone_12_reviews]
})
reviews_by_category

  iPhone_Category  Total_Reviews
0       iPhone 11          25965
1       iPhone 12           2208

12- which iphone has 3rd highest MRP

In [115]:
third_highest = df['Mrp'].sort_values(ascending=False).iloc[2]
third_highest

140300

13- what is the average mrp of iphones which costs above 100,000

In [126]:
filtered_df = df[df['Mrp'] > 100000]
average_mrp = filtered_df['Mrp'].mean()

print(f"The average MRP of iPhones costing above 100,000 is: {average_mrp}")

The average MRP of iPhones costing above 100,000 is: 130559.09090909091

14- which iphone with 128 GB space has highest ratings to review ratio.

In [131]:
filtered_df = df[df['Ram'].str.contains('128 GB')]['Number_Of_Reviews'].sort_values(ascending=False)

In [135]:
# Calculate the ratings to review ratio
filtered_df['Ratings_to_Review_Ratio'] = filtered_df['Star_Rating'] / filtered_df['Number_Of_Reviews']


# Sort the DataFrame by the ratings to review ratio in descending order
sorted_df = filtered_df.sort_values('Ratings_to_Review_Ratio', ascending=False)
# Get the iPhone with the highest ratings to review ratio
iphone_highest_ratio = sorted_df.iloc[0]['Product_Name']

print(f"The iPhone with 128 GB space and the highest ratings to review ratio is: {iphone_highest_ratio}")

The iPhone with 128 GB space and the highest ratings to review ratio is: APPLE iPhone 12 Pro (Graphite, 256 GB)

C:\Users\Tanu\AppData\Local\Temp\ipykernel_9076\3595275716.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['Ratings_to_Review_Ratio'] = filtered_df['Star_Rating'] / filtered_df['Number_Of_Reviews']